<div class="container">
	<div class="row">
		<h1>motion.title</h1>
	</div>

	<div class="row">
		<p>motion.description</p>
	</div>

	<div class="row">
		<div class="voting-points">
			Placeholder
		</div>
	</div>

	<div class="row">
		<div class="motion-navigation">
			<ul class="pager">
			  <li class="previous disabled"><a href="#">&larr; Older</a></li>
			  <li class="next disabled"><a href="#">Newer &rarr;</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<p>user.points_remaining</p>
	</div>

</div>