<div class="jumbotron wrapper">
	<div class="row">
		<h1 class="motion-title">motion.title</h1>
	</div>

	<div class="row">
		<p class="motion-description">motion.description</p>
	</div>

	<div class="row">
		<div class="voting-points">
			<div data-role="main" class="ui-content">
			    <form method="post" action="demoform.asp">
			      <input type="range" name="points" id="points" value="5" min="0" max="10" data-show-value="true">
			    </form>
  			</div>
		</div>
	</div>

	<div class="row">
		<div class="motion-navigation">
			<ul class="pager">
			  <li class="pager-button"><a class="pager-link" href="#">Previous</a></li>
			  <li class="pager-button"><a class="pager-link" href="#">Next</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<p class="user-points-remaining">user.points_remaining</p>
	</div>

</div>